[submodule "depends_github/lazygit"]
	path = depends_github/lazygit
	url = https://github.com/jesseduffield/lazygit.git
[submodule "depends_github/ranger"]
	path = depends_github/ranger
	url = https://github.com/ranger/ranger.git
[submodule "depends_github/vimplus"]
	path = depends_github/vimplus
	url = https://github.com/chxuan/vimplus.git
